<h1>Terms and Conditions</h1>
<p>
  Welcome to HOMEHUB! These terms and conditions outline the rules and
  regulations for the use of HOMEHUB's website.
</p>

<h2>Acceptance of Terms</h2>
<p>
  By accessing this website, we assume you accept these terms and conditions. Do
  not continue to use HOMEHUB if you do not agree to all of the terms and
  conditions stated on this page.
</p>

<h2>Eligibility</h2>
<p>
  By using this website, you represent and warrant that you are at least 18
  years old or have permission from a legal guardian to use this website.
</p>

<h2>Account Registration and Security</h2>
<p>
  Users are responsible for maintaining the confidentiality of their login
  credentials and any activity that occurs under their account. HOMEHUB is not
  liable for any damage or loss resulting from a user's failure to secure their
  account.
</p>

<h2>Limitation of Liability</h2>
<p>
  HOMEHUB shall not be held liable for any damages arising from the use of this
  website, including but not limited to loss of data or profits, due to errors,
  interruptions, or service unavailability.
</p>

<h2>Changes to Terms</h2>
<p>
  We reserve the right to make changes to these Terms and Conditions at any
  time. We will notify users of any significant changes through the website or
  by email.
</p>

<h2>Governing Law</h2>
<p>
  These terms are governed by the laws of INDIA, and users agree to resolve any
  disputes under the jurisdiction of the courts in Delhi.
</p>

<h2>Contact Us</h2>
<p>
  If you have any questions or concerns regarding these Terms and Conditions,
  please contact us at homehub@gmail.com.
</p>